<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Bai6 API Plus UI Integration Suite" verbose="1">
    <test name="API Precondition To UI Verification">
        <classes>
            <class name="com.example.bai6.tests.ApiUiIntegrationTest"/>
        </classes>
    </test>
</suite>
