<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Bai3 JSON Schema Suite" verbose="1">
    <test name="JSON Schema Validation Scenarios">
        <classes>
            <class name="com.example.bai3.tests.JsonSchemaValidationTest"/>
        </classes>
    </test>
</suite>
